.header {
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px;
    margin-bottom: 80px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: solid 2px #fff;
    margin-bottom: 24px;
}

.name {
    font-size: 24px;
    color: var(--corSecundaria);
}
